:root {
    /* CORES / COLORS */
    --gradient_orange_primary: linear-gradient(92.46deg, #FF8A29 31.2%, #CF5D00 71.97%);
    --gradient_orange_seccond: linear-gradient(122.71deg, #F99500 53.34%, #FFCD29 133.06%);
    --gradient_orange_third: linear-gradient(175.96deg, #F57002 3.3%, rgba(245, 112, 2, 0) 56.06%);
    --ligth-white: #ffffff;
    --orange: #CF5D00;
    --gray_primary: #383838;
    --gray_seccond: #787878;
    --black: #121212;

    /* Font Size*/
    --font_14: 14px;
    --font_18: 18px;
    --font_20: 20px;
    --font_22: 22px;
    --font_24: 24px;
    --font_34: 34px;
    --font_40: 40px;
    --font_50: 50px;
    --font_60: 60px;
    --font_80: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
    background: var(--ligth-white);
}

.headerContainer {
    background: var(--gradient_orange_primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer p, a {
    color: var(--ligth-white);
    text-decoration: none;
    padding: 10px;
    font-size: var(--font_14);
}

.headerContainer p {
    margin-left: 150px;
}

.linksContainer {
    margin-right: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.iconHeaderConosco {
    margin: -3px 5px;
}

.iconHeaderFisica {
    margin: -7px 5px;
}

/* NAV */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNav {
    margin: 20px 0 0 150px;
}

.divNavIcons {
    margin: 0 150px 0 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.navIcons img {
    margin: -8px 10px;
}

.navIcons {
    color: var(--gray_primary);
    font-size: var(--font_14);
}

.navIcons:hover {
    color: var(--orange);
}

.navLinksContainer ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 25px 150px 40px;
    justify-content: space-between;
}

.navLinksContainer a {
    color: var(--gray_primary);
    font-size: var(--font_18);
}

.navLinksContainer a:hover {
    border-bottom: 1px solid var(--orange);
    color: var(--orange);
}

/* SECTION BANNER */

.sectionBanner {
    background-image: url(./assets/main/main_banner.png);
    width: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: end;
}

.bannerContent {
    display: inline-block;
    text-align: left;
}

.bannerTitle {
    font-size: var(--font_60);
    font-weight: 600;
    line-height: 70px;
}

.spanTitle {
    font-size: var(--font_60);
    font-weight: 400;
    color: var(--orange);
}

.spanPrice {
    font-size: var(--font_50);
    font-weight: 700;
}

.bannerPrice {
    margin: 25px 0 0;
    font-size: var(--font_24);
    font-weight: 500;
}

.buttonOrange {
    margin-top: 25px;
    width: 257px;
    height: 46px;
    border-radius: 3px;
    border: none;
    color: var(--ligth-white);
    background: var(--gradient_orange_seccond);
    cursor: pointer;
    font-size: var(--font_18);
    font-weight: 400;
}

.buttonOrange:hover {
    opacity: 0.8;
}

/* SECTION INFO */

.sectionInfo {
    background: var(--gradient_orange_primary);
    margin-bottom: 150px;
}

.sectionInfoContainer {
    display: flex;
    align-items: center;
    margin: 0 1%;
    justify-content: space-between;
    padding: 30px;
}

.sectionInfoLinks {
    display: flex;
    align-items: center;
}

.sectionInfoLinks img {
    margin: 0 15px;
}

.sectionInfoLinks {
    text-transform: uppercase;
}

.sectionInfoLinks span {
    font-weight: bold;
}

/* SECTION SHOES */

.sectionShoes {
    display: flex;
    margin: 150px 150px;
    align-items: center;
    justify-content: space-around;
}


.shoesImg {
    width: 550px;
    height: 500px;
    background-size: cover;
    display: inline-block;
}

#imgFem {
    background-image:
        linear-gradient(to right, #F57002 3.3%, rgba(245, 112, 2, 0) 70.06%),
        url('./assets/main/shoesFem.png');
}

#imgMas {

    background-image:
        linear-gradient(to left, #F57002 3.3%, rgba(245, 112, 2, 0) 70.06%),
        url('./assets/main/shoesMas.png');
}

.shoesContent {
    display: inline-block;
    width: 50%;
    font-size: var(--font_20);
    color: var(--gray_primary);
}

.text {
    position: relative;
    text-transform: uppercase;
    color: var(--ligth-white);
    font-size: var(--font_40);
}

#textFem {
    top: 345px;
    left: 40px;
    width: fit-content;
}

#contentFem {
    text-align: end;

}

#contentMas {
    text-align: justify;
}

#textMas {
    top: 345px;
    left: 283px;
    width: fit-content;
}

/* SECTION BRANDS */

.sectionBrands {
    margin: 0 150px;
}

.sectionBrands p {
    font-size: var(--font_24);
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

.brandsLogos {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.brandsLogos img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* FOOTER */

footer {
    background-color: var(--gray_primary);
    display: flex;
    color: var(--ligth-white);
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}